@model CityWeather
<!DOCTYPE html>
<html>
    <head>
        <title>@Model.CityUniqueCode City</Title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container float-left">
            <h1>Weather</h1>
            <div class="box">
                <h1>@Model.CityName</h1>
                <h6>@Model.DateAndTime.ToString("t")</h6>
                <div class="text-right">@Model.TemperatureFahrenheit<sup>°F</sup></div>
            </div>
            <a href="~/">Back to Weather Home Page</a>
        </div>
    </body>
</html>
