@model CityWeather
@{
    if (Model is null)
    {
        ViewData["title"] = "Not Found";
    }
    else
    {
        ViewData["title"] = $"{Model.CityUniqueCode}";
    }
}
@if (Model is not null)
{
    <div class="box">
        <h1>@Model.CityName</h1>
        <h6>@Model.DateAndTime.ToString("t")</h6>
        <div class="text-right">@Model.TemperatureFahrenheit<sup>°F</sup></div>
    </div>
    <a href="~/forecast">Back to Weather Forecast Page</a>
}