@model List<CityWeather>
@{
    string TemperatureColor(int temperature)
    {
        if(temperature < 44)
        {
            return "#AFEEEE";
        }
        if(temperature >= 44 && temperature <= 74)
        {
            return "#FAFAD2";
        }
        return "#FFDAB9";
    }
}
<!DOCTYPR html>
<html>
<head>
    <title>City Weather</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content float-left">
        <h1>Weather</h1>
        @foreach (var city in Model)
        {
            <div class="container">
                <div class="box" style="background:@TemperatureColor(city.TemperatureFahrenheit)">
                    <h1>@city.CityName</h1>
                    <h6>@city.DateAndTime.ToString("t")</h6>
                    <a href="~/weather/@city.CityUniqueCode">Details</a>
                    <div class="text-right">@city.TemperatureFahrenheit<sup>°F</sup></div>
                </div>
            </div>
        }
    </div>
</body>
</html>
